body {
  margin: 0;
  color: #000;
  padding: 0;
  background-color: #fff;
}

a  {
        text-decoration: underline;
        color: #0000ff;
}

/* Navigation setup --------------------------------------------------------- */

.menupos { 
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
}

.tab { 
  text-align: center;
  font-size: 11px !important; 
  font-weight: bold; 
  text-decoration: none;
  font-family: Verdana, Arial, Helvetica;
}

.tab a { 
  color: black;
  text-decoration: none; 
}

.tab a:hover {
  text-decoration: none; 
  color: #0000ff;
}

.active, tab { 
  height: 21px;
  background: url(img/active.gif) top no-repeat;
}

.passive, tab { 
  height: 21px;
  background: url(img/passive.gif) top no-repeat;
}

.tabline {
  position: absolute;
  top: 50px;
  left: 0;
  background: url(img/tab.gif) repeat-x;
  width: 100%;
  z-index: 0;
}

table#nav {
  border: 1px solid #999;
  background-image: url(img/nav.gif);
  font: 13px lucida grande, geneva, verdana;
  margin-bottom: 20px;
  margin-top: 10px;
}

table#nav td {
  text-align: center;
  font-weight: strong;
  font: 12px helvetica;
}

table#nav td a  {
  text-decoration: none;
  display: block;
  margin: 0;
  padding-bottom: 2px;
  padding-top: 2px;
}

table#nav td a:link, #nav td a:visited {
  color: #000;
  font-weight: strong;
  text-decoration: none;
}

table#nav td a:hover  {
  color: #000;
  display: block;
  font-weight: strong;
  text-decoration: none;
  background-color: #fff;
  background-image: url(img/nav_act.gif);
}

table#nav td a.selected:hover  {
  background-image: url(img/nav_selected.gif);
}

a.selected, a.selected:hover { 
  background-image: url(img/nav_selected.gif);
}

.headline { 
  border: 1px solid #999;
  padding: 2px 2px 2px 2px;
  background-color: #eaeaea;
  margin: 0;
  margin-bottom: 40px;
  width: 700px;
  font-size: 12px;
  font-weight: normal;  
}

.content_pane { 
  position: absolute;
  top: 90px;
  left: 0;
  margin-left: 50px;
  margin-right: 100px;
  width:700px;
  font: 13px verdana, arial;
}

/* Content ------------------------------------------------------------------ */

table#content { 
  font: 13px verdana, arial;
  width:700px;
}

.left_pane { 
  float:left;
  position:relative;
  padding-right: 20px;
  margin-left: 20px;
  border-right:1px dotted #ccc;
  width: 50%;
}

.right_pane { 
  float: right;
  position:relative;
  padding-left: 20px;
  margin-right: 50px;
  width: 50%;
}

table#feature  { 
  padding-top: 10px;
  padding-bottom: 10px;
  font: 14px verdana, arial;
}

table#feature a { 
  text-decoration: none;
  color: #000000;
}
table#feature tr td { 
  border: 1px solid #999;
  padding: 5px;
}

table#news td { 
  font: 13px verdana, arial;
  padding-bottom: 10px;
}
